doctype
html
    head
        title= "我提交的"
        link(rel="stylesheet", type="text/css",href="/libs/antd.min.css")
        link(rel="stylesheet", type="text/css",href="/libs/reset.css")
        link(rel="stylesheet", type="text/css",href="/css/common.css")
        link(rel="stylesheet", type="text/css",href="/css/myBugs.css")
    body
        include ../_header
        div#container
        script(src="/libs/jquery.min.js")
        script(src="/static/home.js")