doctype
html
    head
        title= "提交问题"
        link(rel="stylesheet", type="text/css",href="/libs/antd.min.css")
        link(rel="stylesheet", type="text/css",href="/libs/reset.css")
        link(rel="stylesheet", type="text/css",href="/css/refer.css")
    body
        div#container
        script(src="/libs/jquery.min.js")
        script(src="/static/refer.js")