doctype
html
    head
        title= "首页"
        link(rel="stylesheet", type="text/css",href="/libs/antd.min.css")
        link(rel="stylesheet", type="text/css",href="/libs/reset.css")
        link(rel="stylesheet", type="text/css",href="/css/index.css")
    body
        div#container
        script(src="/libs/jquery.min.js")
        script(src="/static/home.js")